<div class="container">
  <div class="row-m">
    <div class="col-m-4">
   <h4>商品一覧</h4>
   </div>

  <div class="row">
    <div class="col-lg-11 text-right my-1">
      <h2>
      <%= link_to new_admin_item_path do %>
      <i class="fas fa-plus fa-spin" style="color: #a762a5;"></i>
      <% end %>
      </li>
    </h2>

  </div>


<table class= "table table-hover table-inverse mx-auto my-3">
<tr>
  <th>商品ID</th>
  <th>商品名</th>
  <th>税抜価格</th>
  <th>ジャンル</th>
  <th>ステータス</th>
</tr>

<% @items.each do |item| %>

<tr>
  <td>
    <%= item.id %>
  </td>

  <td>
    <%= link_to admin_item_path(item.id) do %>
    <%= item.name %>
    <% end %>
  </td>

  <td>
    <%= item.price_excluding_tax.to_s.reverse.scan(/.{1,3}/).join(',').reverse %>
  </td>

  <td>
    <%= item.genre.name %>
  </td>

  <td>
    <% if item.is_active == true %>
       販売中
    <% else %>
       販売停止中
    <% end %>
  </td>

</tr>
<% end %>
</table>
<%= paginate @items %>
  </div>
  </div>
  </div>

