<div>

<h2>ジャンル検索</h2>

<% @items.each do |item|%>
<h4><%= item.genre.name %></h4>
<% end %>

<p>ようこそ、ながのCAKEへ！<br>
このサイトは、ケーキ販売のECサイトになります。
会員でない方も商品の閲覧はできますが、<br>
購入には会員登録が必要になります。
</p>

<h2>新着商品</h2>

<% @items.each do |item| %>

<table class= "table">
<tr>
    <th>
    <%= link_to public_item_path(item.id) do %>
    <% if item.image.attached? %>
 　 <%= image_tag item.image, size: "200x150" %>
 　 <% end %>
    <% end %>
    <%= item.name %>
   </br>
  ¥<%= item.price_excluding_tax.to_s.reverse.scan(/.{1,3}/).join(',').reverse %>
  　</th>
</tr>
<% end %>
</table>


<%= link_to "すべての商品を見る>>", public_items_path %>


</div>
