<h2>注文情報入力</h2>

<%= form_with model: @order, url: orders_confirm_path, local: true do |f| %>

<h4><strong>支払い方法</strong></h4>
 <%= f.radio_button :payment_option, "クレジッドカード", checked: true %>
 <%= form.label :payment_option, "クレジットカード" %>
 

<%= f.radio_button :payment_option, "銀行振込" %>
 <%= form.label :payment_option, "銀行振込" %>

<h4><strong>お届け先</strong></h4>
<%= radio_button :address, 0, checked: true %>
<%= form.label :address, "ご自身の住所" %>

<%= @customer.postcode %>
<%= @customer.address %><br>
<%= @customer.last_name %><%= @customer.first_name %>

<h4><strong>登録済住所から選択</strong></h4>
<%= f.radio_button :address, 1 %>

<% end %>
