<h1>注文履歴詳細</h1>

<b>注文情報</b>
<tr>
    <td>注文日</td>
    <td><%= @order.created_at.to_s(:datetime_jp) %></td>
</tr>
<tr>
    <td>配送先</td>
    <td>
        <%= @order.postcode %>
        <%= @order.address %>
        <%= @order.name %>
    </td>
</tr>
<tr>
    <td>支払方法</td>
    <td><%= @order.payment_option %></td>
</tr>
<tr>
    <td>注文ステータス</td>
    <td><%= @order.status %></td>
</tr>

<h4>請求情報</h4>
<tr>
    <td>商品合計</td>
    <td>¥<%= (@order.total_payment - @order.shipping_fee).to_s(:delimited) %></td>
</tr>
<tr>
    <td>配送料</td>
    <td>¥<%= @order.shipping_fee %></td>
</tr>
<tr>
    <td>ご請求額</td>
    <td>¥<%= "#{@order.shipping_fee.to_s(:delimited)}" %></td>
</tr>
<h4>注文内容</h4>
<tr>
    <th>商品</th>
    <th>単価（税込）</th>
    <th>個数</th>
    <th>少計</th>
</tr>

<% @order_details.each do |order_detail| %>
<tr>
    <td><%= order_detail.name %></td>
    <td>¥<%= (order_detail.price * 1.1).floor.to_s(:delimited) %></td>
    <td><%= order_detail.amount %></td>
    <td>¥<%= (order_detail.price * order_detail.amount * 1.1).floor.to_s(:delimited) %></td>
</tr>

<% end %>
