<h2>ジャンル検索</h2>

<% @items.each do |item|%>
<h4><%= item.genre.name %></h4>
<% end %>

<h2>商品一覧(全<%= @items.count %>件)</h2>

<% @items.each do |item| %>

<table class= "table">
<tr>
    <th>
    <%= link_to public_item_path(item.id) do %>
    <% if item.image.attached? %>
 　 <%= image_tag item.image, size: "200x150" %>
 　 <% end %>
    <% end %>
    <%= item.name %>
   </br>
  ¥<%= item.price_excluding_tax.to_s.reverse.scan(/.{1,3}/).join(',').reverse %>
  　</th>
</tr>
<% end %>
</table>


<%= paginate @items, class:"text-center" %>

