<body>

<% if @item.image.attached? %>
 <%= image_tag @item.image, size: "200x150" %>
<% else %>
 <%= image_tag 'no_image', size: "200x200" %>
<% end %>

商品名<%= @item.name %>

商品説明<%= @item.description %>

ジャンル<%= @item.genre.name %>

 ¥<%= (@item.price_excluding_tax * 1.1).floor.to_s.reverse.scan(/.{1,3}/).join(',').reverse %>(税込)
<%= form_with model: @cart_item, url:public_cart_items_path, local:true do |f| %>
<%= f.hidden_field :item_id, :value => @item.id %>
<%= f.select "amount", *[1..10], :prompt => "個数選択" %>
<%= f.submit "カートに入れる", class:"btn btn-success" %>
<% end %> 

</body>
